language: objective-c
before_install:
    - (ruby --version)
    - sudo chown -R travis ~/Library/RubyMotion
    - mkdir -p ~/Library/RubyMotion/build
    - sudo motion update
script:
    - bundle install
    - bundle exec rake clean:all
    - bundle exec rake pod:install
    - bundle exec rake spec
    - bundle exec rake clean:all
    - bundle exec rake pod:install
    - bundle exec rake spec osx=true
