language: objective-c
osx_image: xcode9.0
before_install:
  - (ruby --version)
  - sudo chown -R travis ~/Library/RubyMotion
  - sudo mkdir -p ~/Library/RubyMotion/build
  - sudo chown -R travis ~/Library/RubyMotion/build
  - sudo motion update
gemfile:
  - Gemfile
script:
  - bundle install --jobs=3 --retry=3
  - bundle exec rake clean
  - bundle exec rake spec
  - bundle exec rake clean
  - bundle exec rake spec target=10.0
  - bundle exec rake clean
  - bundle exec rake spec osx=true
