<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>BubbleWrap - A RubyMotion Cocoa wrapper</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30927742-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
   </head>
   <body>
     <div class="wrapper">
       <header>
         <h1>BubbleWrap</h1>
         <p>
           Cocoa wrappers and helpers for <a href="http://www.rubymotion.com/">RubyMotion</a>.
         </p>
         <p class="view">
           <a href="https://github.com/rubymotion/BubbleWrap">View the Project on GitHub <small>rubymotion/BubbleWrap</small></a>
           <a href="http://rdoc.info/github/rubymotion/BubbleWrap/master/frames">Read the RDoc<small>rdoc.info</small></a>
           <a href="http://rubygems.org/gems/bubble-wrap">Get the Ruby Gem<small>gem 'bubble-wrap'</small></a>
           <a href="https://groups.google.com/d/forum/bubblewrap">Join the discussion<small>bubblewrap@googlegroups.com</small></a>
           <a href="getting_started.html">Using BubbleWrap<small>A guide to getting started with BubbleWrap</small></a>
           <a href="hacking.html">Hacking BubbleWrap<small>A guide to working on BubbleWrap</small></a>
           <a href="gem.html">Gem Howto<small>Building RubyMotion gems with BW</small></a>
         </p>
       </header>
       <section>
##CONTENTS##
       </section>
       <footer>
       <p>Maintained by:</p>
       <ul>
         <li><a href="https://github.com/markrickert"><img src="https://avatars0.githubusercontent.com/u/139261?v=3&s=24">Mark Rickert</a><a href="http://twitter.com/markrickert"><small>@markrickert</small></a></li>
         <li><a href="https://github.com/clayallsopp"><img src="https://avatars0.githubusercontent.com/u/153704?v=3&s=24">Clay Allsopp</a><a href="http://twitter.com/clayallsopp"><small>@clayallsopp</small></a></li>
         <li><a href="https://github.com/jamesotron"><img src="https://avatars0.githubusercontent.com/u/59449?v=3&s=24">James Harton</a><a href="http://twitter.com/jamesotron"><small>@jamesotron</small></a></li>
         <li><a href="https://github.com/supermarin"><img src="https://avatars0.githubusercontent.com/u/627285?v=3&s=24">Marin Usalj</a><a href="http://twitter.com/_supermarin"><small>@_supermarin</small></a></li>
       </ul>
       <p>Started by:</p>
       <ul>
         <li><a href="https://github.com/mattetti/"><img src="https://avatars0.githubusercontent.com/u/113?v=3&s=24">Matt Aimonetti</a><a href="http://twitter.com/merbist"><small>@merbist</small></a><li>
       </ul>
       </footer>
     </div>
     <script src="javascripts/scale.fix.js"></script>

   </body>
 </html>
